<div class="container w-75 bg-primary mt-5 rounded shadow">
    <div class="row align-items-stretch">
        <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">

        </div>
        <div class="col bg-white p-5 rounded-end">
            <div class="text-end">
                <img src="" alt="">
            </div>
            <h2 class="fw-bold text-center mt-2">Bienvenidos a La Carta</h2>
            <p class="text-secondary">Ingresa para encontrar una gran variedad de platos, ¡a tu gusto!</p>
       <!--LOGIN-->
       <form [formGroup]="myForm">
        <div class="mb-4">
          <label for="txtEmail" class="form-label">Correo electronico</label>
          <input type="email" placeholder="Email" class="form-control" formControlName="email" id="txtEmail" name="email">
          <small *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched"
          class="form-text text-danger">El formato del email no es valido.</small>
        </div>
        <div class="mb-4">
          <label for="contraseña" class="form-label">Contraseña</label>
          <input type="password" placeholder="Contraseña" class="form-control" formControlName="password" id="txtPassword">
          <small *ngIf="myForm.get('password')?.invalid && myForm.get('password')?.touched"
                      class="form-text text-danger">La contraseña debe tener mas de 4 caracteres.</small>
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-primary" (click)="clickLogin()">Iniciar sesión</button>
        </div>
       </form>
         </div>
    </div>
</div>
