<div class="row d-flex justify-content-center align-items-center p-3 m-3 fondo">

  <div class="col col-6 col-sm-4" >
      <img src="{{plato.image}}" class="imagen" width="100%" alt="{{plato.title}}">
  </div>
  <div class="col col-6 col-sm-5">
      <div class="col titulo"> <h2> {{plato.title}} </h2> </div>
      <div class="col">
          <p class="parrafo"> Precio: {{plato.pricePerServing | currency }}</p>
          <p class="parrafo"> Tiempo de preparacion: {{plato.readyInMinutes | number }} minutos </p>
          <p class="parrafo"> Health Score: {{plato.healthScore | number }}</p>
          <p class="parrafo"> Vegano: {{plato.vegan | siono }}</p>
          <p class="parrafo"> Vegetariano: {{plato.vegetarian | siono}}</p>
      </div>
  </div>
  <div class="col col-12 col-sm-3 d-flex d-sm-block justify-content-center ">
      <div *ngIf="isInMisPlatos; else noEsta">
          <button type="button" class="btn btn-primary mx-2" (click)="verDetalles(plato.id)">Detalles</button>
          <button type="button" class="btn btn-danger mx-2" (click)="eliminarPlato(plato)">Eliminar</button>
      </div>
      <ng-template #noEsta>
          <button type="button" class="btn btn-primary mt-3" (click)="agregarPlato(plato)">Agregar</button>
      </ng-template>
  </div>
</div>
